body
    +light 
    color: $text-color
.button-o
    border: 2px solid $primary
    padding: 17px 22px
    font-size: 12px
    text-transform: uppercase
    color: $primary
    background-color: #fff
    +bold
.button
    text-transform: 
    +bold 
    border: none
    padding: 25px 45px
    background-color: $primary
    color: #ffffff
@media (max-width: 576px)
    .button-o
        font-size: 10px
    