.navbar
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: #fff
    z-index: 99
    &-wrap
        display: flex
        align-items: center
        justify-content: space-between
        min-height: 80px
    &__mobile, &__landline
        text-align: right
    &__phone
        display: block
        font-size: 19px
        +bold
        text-decoration: none
        color: $text-color
        margin-bottom: 5px
    &__small-text
        text-decoration: none
        display: block
        font-size: 14px
        color: $text-color-light



.menu
    z-index: 0
    position: fixed
    padding: 16px 0
    top: 80px
    width: 100%
    left: 0
    background-color: $primary
    color: #ffffff
    transition: 0.2s
    transform: translateY(-100%)
    &_active
        transform: translateY(0)
    &__nav
        display: flex
        justify-content: space-around
        align-items: center
    &__link
        text-decoration: none
        text-transform: uppercase
        font-size: 17px
        color: #ffffff
    &-button
        display: flex
        align-items: center
        flex-direction: column
        justify-content: center
        background-color: transparent
        border: none
        border-right: 1px solid rgba( #510bba, 0.1)
        border-left: 1px solid rgba( #510bba, 0.1)
        height: 80px
        width: 70px
        &__line
            display: block
            width: 20px
            height: 3px
            background-color: #89a9eb
            margin: 2px 0
.logo
    &__text
        
        display: block
        margin-bottom: 5px
        font-size: 18px
        text-transform: uppercase
        margin-bottom: 5px
        +bold
    &__description
        display: block
        font-size: 14px
        color: $text-color-light
        font-size: 14px
        